<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/styles/posts.css">
    <!------------------LIght BOx for Gallery-------------->
    <link rel="stylesheet" href="/styles/posts-lightbox.min.css">
    <script type="text/javascript" src="/srcipts/posts-lightbox-plus-jquery.min.js"></script>
    <script src="/scripts/anti-logo-aktion.js"></script>
    <script src="//code.tidio.co/ynfcxx7pil0vhqb9bzd0zbcyqpbmxrek.js" async></script>


    <!------------------LIght BOx for Gallery-------------->
    <title>Bienvenido a Communitec, la comunidad de tu universidad</title>
    <script>
        let titleText = "Bienvenido a Communitec, la comunidad de tu universidad 😀 ";
        let index = 0;
        function animateTitle() {
            setInterval(() => {
                document.title = titleText.substring(index) + titleText.substring(0, index);
                index = (index + 1) % titleText.length;
            }, 200);
        }

        window.onload = animateTitle;
    </script>
</head>

<body>
    <!-------------------------------NAvigation Starts------------------>

    <nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color:#097389ff">
        <a href="/" class="navbar-brand"><img src="/img/TC.png" alt="logo" class="img-fluid" width="80px"
                height="100px"></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="responsive">
            <ul class="navbar-nav mr-auto text-capitalize">
                <li class="nav-item"><a href="/posts/" class="nav-link active">Inicio</a></li>
                <li class="nav-item"><a href="/profile/" class="nav-link">Perfil</a></li>
                <li class="nav-item"><a href="/chat/" class="nav-link">Mensajes</a></li>
                {{!-- <li class="nav-item"><a href="#" class="nav-link">docs</a></li> --}}
                <li class="nav-item"><a href="#" class="nav-link d-md-none">Postear</a></li>
                <li class="nav-item"><a href="#" class="nav-link d-md-none">Cerrar Sesion</a></li>

            </ul>

            {{!-- <form action="" class="form-inline ml-auto d-none d-md-block">
                <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
            </form>
            <a href="notification.html" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;"><i
                    class="far fa-bell ml-3 d-none d-md-block"></i></a> --}}
            <a href="/profile/">
                <img src="/img/pfp/{{user.img}}" alt="" class="rounded-circle ml-3 d-none d-md-block" width="32px"
                    height="32px">
            </a>
        </div>

    </nav>
    <!---------------------------------------------Ends navigation------------------------------>
    <!---------------------------MOdal Section  satrts------------------->
    <div class="modal fade" id="modalview">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title h4">Mensajes</div>

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled"> <a href="#" class="text-decoration-none">
                            <li class="media hover-media">

                                <img src="/img/pfp/{{user.img}}" alt="img" width="60px" height="60px"
                                    class="rounded-circle mr-3">

                                <div class="media-body text-dark">
                                    <h6 class="media-header">Jchob Thunder and <strong> 1 others</strong></h6>
                                    <p class="media-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

                                </div>

                            </li>
                        </a>
                        <hr class="my-3">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------MOdal Ends---------------------------->
    <!-------------------------------------------Start Grids layout for lg-xl-3 columns and (xs-lg 1 columns)--------------------------------->
    <div class="container">
        <div class="row"> <!--------------------------left columns  start-->

            <div class="col-12 col-lg-3">

                <div class="left-column">
                    <div class="card card-left1 mb-4">
                        <img src="/img/posts-card.jpg" alt="" class="card-img-top img-fluid">
                        <div class="card-body text-center ">
                            <img src="/img/pfp/{{user.img}}" alt="img" width="120px" height="120px"
                                class="rounded-circle mt-n5">
                            <h5 class="card-title">{{user.full_name}}</h5>
                            {{!-- <p class="card-text text-justify mb-2">Descripcion de la persona</p> --}}
                            <ul class="list-unstyled nav justify-content-center">
                                <a href="#" class="text-dark text-decoration-none">
                                    <li class="nav-item">Seguidores <br> <strong>{{user.followers}}</strong></li>
                                </a>
                                <a href="#" class="text-dark text-decoration-none">
                                    <li class="nav-item">Siguiendo <br> <strong>{{user.following}}</strong></li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    {{!-- <div class="card shadow-sm card-left2 mb-4">

                        <div class="card-body">

                            <h5 class="mb-3 card-title">About <small><a href="#" class="ml-1">Editar</a></small></h5>

                            <p class="card-text"> <i class="fas fa-calendar-week mr-2"></i> A trabajado en <a href="#"
                                    class="text-decoration-none">oh canada</a></p>

                            <p class="card-text"> <i class="fas fa-user-friends mr-2"></i> Se hizo amigo de <a href="#"
                                    class="text-decoration-none">obama</a></p>
                            <p class="card-text"> <i class="far fa-building mr-2"></i> Trabajando en <a href="#"
                                    class="text-decoration-none">Github</a></p>
                            <p class="card-text"> <i class="fas fa-home mr-2"></i> Vive en <a href="#"
                                    class="text-decoration-none">San francisco</a></p>
                            <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> De <a href="#"
                                    class="text-decoration-none">Seattle, WA</a></p>
                        </div>
                    </div> --}}
                    {{!-- <div class="card shadow-sm card-left3 mb-4">

                        <div class="card-body">
                            <h5 class="card-title">Fotos<small class="ml-2"><button type="button"
                                        class="btn btn-info btn-sm ">Editar</button><button type="button"
                                        class="btn btn-danger btn-sm ">Eliminar</button></small></h5>

                            <div class="row">
                                <div class="col-6 p-1">
                                    <a href="img/michiguapo.jpg" data-lightbox="id"><img src="img/michiguapo.jpg"
                                            alt="img" class="img-fluid my-2"></a>
                                    <a href="img/michiguapo.jpg" data-lightbox="id"><img src="img/michiguapo.jpg"
                                            alt="img" class="img-fluid my-2"></a>
                                    <a href="img/michiguapo.jpg" data-lightbox="id"><img src="img/michiguapo.jpg"
                                            alt="img" class="img-fluid my-2"></a>

                                </div>
                                <div class="col-6 p-1">
                                    <a href="img/michiguapo.jpg" data-lightbox="id"><img src="img/michiguapo.jpg"
                                            alt="img" class="img-fluid my-2"></a>
                                    <a href="img/michiguapo.jpg" data-lightbox="id"><img src="img/michiguapo.jpg"
                                            alt="img" class="img-fluid my-2"></a>
                                    <a href="img/michiguapo.jpg" data-lightbox="id"><img src="img/michiguapo.jpg"
                                            alt="img" class="img-fluid my-2"></a>

                                </div>

                            </div>

                        </div>
                    </div> --}}
                </div>
            </div> <!--------------------------Ends Left columns-->

            <!---------------------------------------Middle columns  start---------------->
            <div class="col-12 col-lg-6">
                <div class="middle-column">
                    <div class="card">
                        <div class="card-header bg-transparent">
                            <form class="form-inline" action="/posts/add" method="POST">
                                <div class="input-group w-100">
                                    <input type="text" name="content" id="message" placeholder="Escribe un post..."
                                        class="form-control form-control-md">

                                    {{!-- <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="fas fa-camera"></i>
                                        </div>
                                    </div> --}}
                                </div>
                            </form>
                        </div> <!--empieza parte de los post   -->
                        {{#each posts as |post|}}
                        <div class="card-body">
                            <div class="media">
                                <a href="/profile/{{post.userFK}}">
                                    <img src="/img/pfp/{{post.user_pfp}}" alt="img" width="65px" height="65px"
                                        class="rounded-circle mr-3">
                                </a>
                                <div class="media-body">


                                    <a href="/profile/{{post.userFK}}" style="color: inherit;">
                                        <h5>{{post.user_name}}</h5>
                                    </a>
                                    <p class="card-text text-justify">{{post.votes}}</p>
                                    <form method="POST" action="/posts/upvote/{{post.id}}">
                                        <button type="submit" class="upvote"><i class="fas fa-arrow-up"></i></button>
                                    </form>

                                    <form method="POST" action="/posts/downvote/{{post.id}}">
                                        <button type="submit" class="downvote"><i
                                                class="fas fa-arrow-down"></i></button>
                                    </form>

                                    {{#ifEquals post.userFK ../user.id}}
                                    <a href="/posts/delete/{{post.id}}" class="btn btn-danger mr-2">Eliminar Post</a>
                                    {{else}}
                                    {{#ifEqualsOrBigger ../../user.privilege 1}}
                                    <a href="/posts/delete/{{post.id}}" class="btn btn-danger mr-2">Eliminar Post</a>
                                    {{/ifEqualsOrBigger}}
                                    {{/ifEquals}}
                                    <p class="card-text text-justify">{{post.content}}</p>
                                </div>
                                {{!-- <small class="text-muted">14 min</small> --}}
                            </div>
                        </div>
                        <hr>
                        {{/each}}
                    </div>
                </div>
            </div>

            <br> <br> <br><br> <br> <br>

            <!------------------------Middle column Ends---------------->

            <!---------------------------Statrs Right Columns----------------->

            <div class="col-12 col-lg-3">
                <div class="right-column">
                    <div class="card shadow-sm mb-4">
                        <div class="card-body">
                            <h6 class="card-title">Anuncios</h6>
                            <img src="/img/posts-anuncio.jpg" alt="card-img" class="card-img mb-3">
                            {{!-- <p class="card-text text-justify"> <span class="h6">VACANTE LIBRE</p> --}}
                            {{!-- <a href="#" class="btn btn-outline-info card-link btn-sm">Me interesa</a> --}}
                        </div>
                    </div>
                    {{!-- <div class="card shadow-sm mb-4">

                        <div class="row no-gutters d-none d-lg-flex">
                            <div class="col-6 p-1">
                                <img src="img/avatar-dhg.jpeg" alt="img" width="80px" height="80px"
                                    class="rounded-circle mb-4">
                                <img src="img/avatar-fat.jpg" alt="img" width="80px" height="80px"
                                    class="rounded-circle">
                            </div>
                            <div class="col-6 p-1 text-left">
                                <h6>Este gato </h6>
                                <a href="#" class="btn btn-outline-info btn-sm mb-3"><i
                                        class="fas fa-user-friends"></i>Follow </a>

                                <h6>otro Gato</h6>
                                <a href="#" class="btn btn-outline-info  btn-sm"><i
                                        class="fas fa-user-friends"></i>Follow </a>
                            </div>
                        </div>
                    </div> --}}

                </div>
            </div>
        </div>
        <!------------------------Light BOx OPtions------------->
        <script>
            lightbox.option({

            })
        </script>
        <!------------------------Light BOx OPtions------------->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>